    <section id="AboutMe">
      <div class="container">
        <div class="row" id="About">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Skills Overview</h2>
            <h3 class="section-subheading text-muted">Some of my aswesome front-end skills are shown below</h3>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-md-4">
            <span class="fab fa-gulp fa-8x"  id="gulp"></span>
            <h4 class="service-heading">Gulp JS</h4>
            <p class="text-muted">GULP JS is my newest and best skill which i have learnt, it speeds my development time up dramatically.</p>
          </div>

          <div class="col-md-4">
            <span class="fab fa-sass fa-8x"  id="SASS"> </span>
            <h4 class="service-heading">SASS</h4>
            <p class="text-muted">After learning CSS i felt there was more to it, SASS was my answer. It makes my CSS architecture so neat and benefical.</p>
          </div>

          <div class="col-md-4">
            <span class="fab fa-node-js fa-8x"  id="NODE"></span>
            <h4 class="service-heading">Node JS</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>
