<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Alex Machin </title>

  <!-- Resources For The Web site -->
  <link rel="stylesheet" type="text/css" href="../../ASSETS/Build/CSS/App.css">

    <!-- Custom Scripts First -->
    <script src= "../../ASSETS/Build/Scripts/main.js" ></script>

    <!-- Then Bootstrap Dependencies Load In Seperately -->
    <script src= "../../ASSETS/Build/Scripts/bootstrap-dependencies.js" ></script>

    <!-- Fontawesome 5 CDN Link -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

  </head>
