<header class="header"  id="Landing">
  <div class="container" id="Landing">
    <div class="header-content">

      <h1 class="main-heading">
        Alex Machin
       </h1>

      <h2 class="sub-heading">
      Student and aspring front-end developer
      </h2>

      <a class="landing-button js-scroll-trigger" href="#About">
        Find Out More
      </a>

    </div> <!-- Closes Header Content-->
  </div> <!-- Closes Container -->
</header> <!-- Closes Header Class -->
