<body id="top">

  <div class="container-fluid">

    <div class="col-12">

      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">

        <div class="container">

          <a class="navbar-brand js-scroll-trigger" href="#top">Alex Machin</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav text-uppercase ml-auto">

              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#AboutMe">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#Project">Projects</a>
              </li>

              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#ContactMe">Contact</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
