<section class="bg-light" id="Project" >
  <div class="container">

    <!-- Overview Of Section-->
    <div class="row" id="Projects">
      <div class="col-lg-12 text-center">

        <h2 class="section-heading text-uppercase">
          Projects
        </h2>

        <h3 class="section-subheading text-muted">
          Welcome to the projects section, some of my projects are displayed below
        </h3>
      </div>
    </div>

  <!-- Projects -->
    <div class="row">
      <div class="col-md-4 col-sm-12 portfolio-item">

        <a href="https://yelpcampapp.herokuapp.com/" target="_blank">
          <img class="img-thumbnail image" src="../ASSETS/Build/Images/Yelpcamp.JPG" alt="Yelpcamp Application " data-toggle="tooltip" data-placement="top" title="Yelpcamp">
        </a>

        <div class="portfolio-caption">
            <h4>
              Yelpcamp
            </h4>
            <p>
              Yelpcamp is my first web application, its a mixture of front-end and back-end. Front-end takes advantgae of Node JS, whereas the back-end uses mongodb.
            </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 portfolio-item">
        <a href="http://www.induz.co.uk/" target="_blank">
          <img class="img-fluid image" src="../ASSETS/Source/Images/Induz.JPG" alt="Induz Static Website"  data-toggle="tooltip" data-placement="top" title="Induz">
        </a>
        <div class="portfolio-caption">
            <h4>
              Induz
            </h4>
            <p>
              Induz was my first collabaritive which was created with Paul Thornley. The project was part of a redesign project for a small takeaway company in bramley.
            </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 portfolio-item">
        <img class="img-fluid image" src="../ASSETS/Source/Images/Dribble-Clone.JPG" alt="Dribble"  data-toggle="tooltip" data-placement="top" title="Dribble">
        <div class="portfolio-caption">
          <h4>
            Drible Homepage Clone
           </h4>
           <p>
            Dribble is a creative website were designers upload creative ideas which developers can then create. To show my appreication i recrated their homepage.
           </p>
        </div>

      </div>
    </div> <!-- Closes Row -->
  </div> <!-- Closes Container -->
</section>
